body {
	background-color: #5c434c;
	max-width: 400px;
	width: 100%;
}
section {
	display: flex;
	column-gap: 20px;
	margin-bottom: 22px;
}
div {
	width: 80px;
	height: 80px;
	background: #f09462;
	border-top-left-radius: 100%;
}

div:nth-child(even) {
	background-color: #f5d6b4;
}

.order1 {
	order: 1;
}
.order2 {
	order: 2;
}
.order3 {
	order: 3;
}
.order4 {
	order: 4;
}
