body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background-color: #62306d;
}
div {
	width: 100px;
	height: 100px;
	background: #f7ec7d;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.first-element,
.third-element {
	transform: rotate(180deg);
	position: relative;
	top: 42px;
}
.second-element {
	position: relative;
	top: -58px;
}
